@import '../../node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body{
    color: #ffffff;
    background-color: #7d7777;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
    transform: scale(1);
    color: currentColor;
    text-decoration: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus{
    z-index: 100;
    transform: scale(1.15);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(51, 46, 46);
}


@media screen and (min-width: 250px){
    input{
    padding: 8px;
    width: 250px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}
    @media screen and (min-width: 780px){
    input{
    width: 350px;
}
 }
}
.search-form__box{
    position: relative;
}

.button-submit{
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(215, 215, 215);
    border-style: none;
    border-radius: 0 4px 4px 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus{
    background-color: rgb(190, 188, 188);
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-gallery{
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

   @media screen and (min-width: 250px) { 
    .gallery{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto ;
    gap: 10px;
   }

   @media screen and (min-width: 768px){
    .gallery{
        grid-template-columns: auto auto;
    }
   }

   @media screen and (min-width: 1200px){
    .gallery{
        grid-template-columns: auto auto auto;
    }
   }
   @media screen and (min-width: 1400px){
    .gallery{
        grid-template-columns: auto auto auto auto;
    }
   }
}

    .photo-card {
        max-width: 400px;
    }

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.gallery-img{
    height: 250px;
}
 @media screen and (min-width: 250px) { 
   .info {
 display: flex;
 font-size: 12px;
  justify-content: center;
    border-radius: 0 0 5px 5px;
   background-color: #3c3a3a;
}
 @media screen and (min-width: 768px){
    .info{
        font-size: 16px;
    }
 }
}


.info-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-item:not(:first-child) {
 margin-left: 25px;
}

.scroll-button{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 90%;
    right: 2%;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(51, 46, 46);
    opacity: 1;
    fill: rgb(253, 244, 244);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button:hover{
    background-color: #5c4f4f;
    opacity: 1;
}

.scroll-button.is-hidden{
    opacity: 0;
}

.loading{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   opacity: 1;
}

.loading.is-hidden{
   opacity: 0;
}

.icon-arrow-up{
    margin-left: auto;
    margin-right: auto;
}