@import '../../node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body{
    color: #ffffff;
    background-color: #7d7777;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
    transform: scale(1);
    color: currentColor;
    text-decoration: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus{
    z-index: 100;
    transform: scale(1.15);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(51, 46, 46);
}

input{
    padding: 8px;
    width: 350px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.search-form__box{
    position: relative;
}

.button-submit{
    cursor: pointer;
    position: absolute;
    height: 100%;
    right: 0;

    background-color: rgb(215, 215, 215);
    border-style: none;
    border-radius: 0 4px 4px 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus{
    background-color: rgb(190, 188, 188);
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-gallery{
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.photo-card {
    width: 400px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.gallery-img{
    height: 250px;
}
.info {
 display: flex;
  justify-content: center;
    border-radius: 0 0 5px 5px;
   background-color: #3c3a3a;

}

.info-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-item:not(:first-child) {
 margin-left: 25px;
}

.scroll-button{
    position: fixed;
    z-index: 1000;
    top: 90%;
    right: 2%;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(51, 46, 46);
    opacity: 1;
    fill: rgb(253, 244, 244);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button:hover{
    background-color: #5c4f4f;
}

.scroll-button.is-hidden{
    opacity: 0;
}
